


<div class="col" style="margin-top: 10px;">
  <a class="text-decoration-none person-link" data-target="detail-vincent" href="#{{ project.target }}">
    <div class="card h-100">
      <img src="{{ project.img }}" class="card-img-top" >
      <div class="card-body">
        <div class="card-title">  {{ project.title }}</div>
        <div class="card-text">{{ project.role }}</div>
      </div>
    </div>
  </a>
</div>
